/* General */
body {
    background-color: rgb(255, 245, 238);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgb(84, 53, 186);
}

h1,
h2,
h3,
h4,
.button {
    font-weight: 900;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

.button {
    font-size: 16px;
    border: none;
    color: white;
    background-color: rgb(84, 53, 186);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 24px;
    height: 48px;
    width: 180px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dark-text {
    color: rgb(43, 43, 68);
}

/* Navigation Bar */
.navbar {
    list-style-type: none;
    margin: 0;
    margin-left: 72px;
    margin-right: 72px;
    padding: 0;
    display: flex;
}

.navbar-logo {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 60px;
    height: 60px;
}

.navbar-item a {
    display: block;
    text-align: center;
    padding: 16px;
    margin: 8px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    color: rgb(84, 53, 186);
}

.navbar-item a.active {
    text-decoration: underline;
    text-decoration-color: rgb(84, 53, 186);
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.navbar-item a:visited {
    color: inherit;
}

/* Navigation Bar - Burger Menu */
#navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: rgb(255, 245, 238);
    z-index: 100;
    padding: 10px 72px;
}

#navbar-links.menu-open {
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.15);
}

.hamburger-icon {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.hamburger-icon img {
    width: 48px;
    height: 48px;
}

/* Desktop */
@media screen and (min-width: 768px) {
    #navbar-links {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
        padding: 0;
    }

    .hamburger-icon {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgb(255, 245, 238);
        z-index: 1000;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    body {
        padding-top: 76px;
    }

    .navbar {
        padding-top: 8px;
        margin-left: 16px;
        margin-right: 16px;
    }
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-left: 72px;
    margin-right: 72px;
    margin-bottom: 32px;
}

.footer-content h2 {
    margin: 0px;
    color: rgb(43, 43, 68);
}

.footer-content h4 {
    margin: 0px;
    margin-top: 32px;
    color: rgb(43, 43, 68);
}

.footer-content p {
    margin: 0px;
    margin-top: 4px;
    color: rgb(43, 43, 68);
}

.footer-content a {
    text-decoration: none;
    border-bottom: 1px solid;
    margin-bottom: 32px;
    display: block;
    width: fit-content;
    font-size: 16px;
    font-weight: 900;
    color: rgb(84, 53, 186);
}

.footer-content a:visited {
    color: inherit;
}

.footer-social-media {
    display: flex;
    gap: 24px;
    justify-content: center;
    width: 100%;
    margin: 24px 0px;
}

.footer-social-media img {
    width: 50px;
    height: 50px;
}

/* Desktop (1025px and above) */
@media screen and (min-width: 1025px) {
    .footer-social-media {
        margin-top: 200px;
        position: absolute;
        /* I didn't find another way to make this centered */
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Mobile & Tablet */
@media screen and (max-width: 1024px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-content {
        width: 100%;
        margin: 20px 16px;
        align-items: center;
        text-align: center;
    }

    .footer-content:first-child {
        order: 1;
    }

    .footer-content:last-child {
        order: 2;
    }

    .footer-social-media {
        order: 3;
    }

    .footer-content a {
        margin-bottom: 16px;
    }
}

/* Home */
.home-introduction-img {
    width: 60%;
}

.home-introduction-text {
    width: 60%;
    text-align: center;
}

.home-social-media {
    display: flex;
    justify-content: center;
    gap: 32px;
 }

 .home-social-media img {
    margin-top: 32px;
    width: 50px;
    height: 50px;
}

.home-content-section {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 96px;
    margin-bottom: 96px;
    margin-left: 72px;
    margin-right: 72px;
 }
 
 .home-content-img {
    width: 50%;
    border-radius: 32px;
 }