/* General */
body {
    background-color: pink;
    color: white;
}

h1 {
    color: white;
    text-align: center;
    font-size: 60px;
}

/* Navigation Bar */
.navbar {
    list-style-type: none; /* Removes bullet points from items */
    margin: 0;
    padding: 0;
    display: flex; /* Horizontal layout */
}

.navbar-logo {
    margin-right: auto; /* Pushes other elements to the right */
    display: flex;
    align-items: center;
}

.navbar-item a {
    display: block; /* Whole element clickable by filling out entire space */
    color: white;
    text-align: center;
    padding: 16px;
    margin: 8px;
    text-decoration: none;
}

.navbar-item a.active {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

/* ... */