<!DOCTYPE html>

<div class="footer-content">
    <h2>Anna Zillmann</h2>
    <h4>Zumba Classes</h4>
    <p>Dienstag + Donnerstag</p>
    <h4>Arbeitstage</h4>
    <p>Montag-Samstag</p>
</div>

<div class="footer-social-media">
    <a href="https://instagram.com"><img src="images/general/instagram.png" alt="Instagram"></a>
    <a href="https://linkedin.com"><img src="images/general/linkedIn.png" alt="LinkedIn"></a>
</div>

<div class="footer-content">
    <a href="designer-portfolio.html">UX/UI</a>
    <a href="photographer-portfolio.html">Fotografie</a>
    <a href="zumba-portfolio.html">Zumba</a>
    <a href="contact.html">Kontakt</a>
</div>